{erl_opts, [
  debug_info, fail_on_warning
]}.

{deps, [
  {cowboy, ".*",
    {git, "https://github.com/extend/cowboy.git", "master"}},
  {bullet, ".*",
    {git, "git://github.com/extend/bullet.git", "master"}},
  {gproc, ".*",
    {git, "git://github.com/uwiger/gproc.git", "master"}},
  {sync, ".*",
    {git, "git://github.com/rustyio/sync.git", "master"}}
   ]}.